.promo1 {
    background-image: url(../../../../../images/iteration-2-images/cta/kart-1.png);
    background-size: cover;
}
.promo2 {
    background-image: url(../../../../../images/iteration-2-images/cta/kart-2.png);
    background-size: cover;
}
.promo3 {
    background-image: url(../../../../../images/iteration-2-images/cta/kart-3.png);
    background-size: cover;
}