#root {
  display: flex;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
:root{
  --sari: #FDC913;
  --acikGri: #5F5F5F;
  --koyuGri: #292929;
  --kirmizi: #CE2829;
  --bej: #FAF7F2;
}
body{
  background-color: var(--bej);
}